// --- Main Colors --- //
$primary: #20a8d8;
$primary-blue: #007bff;

$secondary: #c8ced3;

$white: #ffffff;
$black: #000000;
$gray: #f4f4f4;

// --- Brand Colors --- //
$grey: #595959;
$lime: #b2d33e;
$ruby-guideline: #882c62;
$black: #333333;

// --- Font --- //
$font: 'Quicksand';

// --- Gradient Colors --- //
$linear-back: linear-gradient(87.22deg, $primary-blue 5.7%, $secondary 70.4%);
